---
swagger: '2.0'

info:
  description: This is a documentation for ark-node built with Swagger UI to make testing a breeze. If you find any issues, come over to [https://github.com/faustbrian/ARK-Node-Swagger](https://github.com/faustbrian/ARK-Node-Swagger) to open an issue, or even better, send a PR that fixes the issue.
  version: 1.0.0
  title: ARK Node Documentation

host: api.arknode.net

basePath: "/"

schemes:
- https

produces:
- application/json

parameters:
  ipHeader:
    name: ip
    in: header
    type: string

  portHeader:
    name: port
    in: header
    type: integer
    default: 4001
    required: true
    minLength: 1
    maxLength: 65535

  osHeader:
    name: os
    in: header
    type: string
    maxLength: 64

  nethashHeader:
    name: nethash
    in: header
    type: string
    default: 6e84d08bd299ed97c212c886c98a57e36545c8f5d645ca7eeae63a8bd62d8988
    required: true
    maxLength: 64

  versionHeader:
    name: version
    in: header
    type: string
    default: 1.0.1
    required: true
    maxLength: 11

tags:
- name: Account
  description: ''
- name: Block
  description: ''
- name: Delegate
  description: ''
- name: Loader
  description: ''
- name: MultiSignature
  description: ''
- name: Peer
  description: ''
- name: Signature
  description: ''
- name: Transaction
  description: ''
- name: Transport
  description: ''

paths:
  "/api/accounts/getBalance":
    get:
      tags:
      - Account
      summary: 'Get the balance of an account'
      operationId: accounts.getBalance
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetBalanceResponse'
  "/api/accounts/getPublickey":
    get:
      tags:
      - Account
      summary: 'Get the public key of an account'
      operationId: accounts.getPublickey
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetPublickeyResponse'
  "/api/accounts/delegates/fee":
    get:
      tags:
      - Account
      summary: 'Get the delegate fee of an account'
      operationId: accounts.getDelegatesFee
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetDelegatesFeeResponse'
  "/api/accounts/delegates":
    get:
      tags:
      - Account
      summary: 'Get the delegates of an account'
      operationId: accounts.getDelegates
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      - in: query
        type: string
        name: orderBy
        description: ''
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetDelegatesResponse'
    put:
      deprecated: true
      tags:
      - Account
      summary: 'Add a new delegate to an account'
      operationId: accounts.addDelegates
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/AccountsAddDelegatesRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsAddDelegatesResponse'
  "/api/accounts":
    get:
      tags:
      - Account
      summary: 'Returns account information of an address'
      operationId: accounts.getAccount
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetAccountResponse'
  "/api/accounts/getAllAccounts":
    get:
      deprecated: true
      tags:
      - Account
      summary: 'Get a list of accounts'
      operationId: accounts.getAllAccounts
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsGetAllAccountsResponse'
  "/api/accounts/top":
    get:
      tags:
      - Account
      summary: 'Get a list of top accounts'
      operationId: accounts.top
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsTopResponse'
  "/api/accounts/count":
    get:
      deprecated: true
      tags:
      - Account
      summary: 'Get the count of accounts'
      operationId: accounts.count
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AccountsCountResponse'
  "/api/blocks/get":
    get:
      tags:
      - Block
      summary: 'Get block by id'
      operationId: blocks.getBlock
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: id
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetBlockResponse'
  "/api/blocks":
    get:
      tags:
      - Block
      summary: 'Get all blocks'
      operationId: blocks.getBlocks
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: string
        name: orderBy
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      - in: query
        type: string
        name: generatorPublicKey
        description: ''
      - in: query
        type: integer
        name: totalAmount
        description: ''
      - in: query
        type: integer
        name: totalFee
        description: ''
      - in: query
        type: integer
        name: reward
        description: ''
      - in: query
        type: string
        name: previousBlock
        description: ''
      - in: query
        type: integer
        name: height
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetBlocksResponse'
  "/api/blocks/getEpoch":
    get:
      tags:
      - Block
      summary: 'Get the blockchain epoch'
      operationId: blocks.getEpoch
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetEpochResponse'
  "/api/blocks/getHeight":
    get:
      tags:
      - Block
      summary: 'Get the blockchain height'
      operationId: blocks.getHeight
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetHeightResponse'
  "/api/blocks/getNethash":
    get:
      tags:
      - Block
      summary: 'Get the blockchain nethash'
      operationId: blocks.getNethash
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetNethashResponse'
  "/api/blocks/getFee":
    get:
      tags:
      - Block
      summary: 'Get the transaction fee for sending "normal" transactions'
      operationId: blocks.getFee
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetFeeResponse'
  "/api/blocks/getFees":
    get:
      tags:
      - Block
      summary: 'Get the network fees'
      operationId: blocks.getFees
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetFeesResponse'
  "/api/blocks/getMilestone":
    get:
      tags:
      - Block
      summary: 'Get the blockchain milestone'
      operationId: blocks.getMilestone
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetMilestoneResponse'
  "/api/blocks/getReward":
    get:
      tags:
      - Block
      summary: 'Get the blockchain reward'
      operationId: blocks.getReward
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetRewardResponse'
  "/api/blocks/getSupply":
    get:
      tags:
      - Block
      summary: 'Get the blockchain supply'
      operationId: blocks.getSupply
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetSupplyResponse'
  "/api/blocks/getStatus":
    get:
      tags:
      - Block
      summary: 'Get the blockchain status'
      operationId: blocks.getStatus
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/BlocksGetStatusResponse'
  "/api/delegates/count":
    get:
      tags:
      - Delegate
      summary: 'Get the count of delegates'
      operationId: delegates.count
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesCountResponse'
  "/api/delegates/search":
    get:
      tags:
      - Delegate
      summary: 'Search for specific delegates'
      operationId: delegates.search
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: q
        description: ''
        required: true
      - in: query
        type: integer
        name: limit
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesSearchResponse'
  "/api/delegates/voters":
    get:
      tags:
      - Delegate
      summary: 'Get a list of voters for a delegate'
      operationId: delegates.getVoters
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: publicKey
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetVotersResponse'
  "/api/delegates/get":
    get:
      tags:
      - Delegate
      summary: 'Get a single delegate'
      operationId: delegates.getDelegate
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: publicKey
        description: ''
      - in: query
        type: string
        name: username
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetDelegateResponse'
  "/api/delegates":
    get:
      tags:
      - Delegate
      summary: 'Get all delegates'
      operationId: delegates.getDelegates
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: orderBy
        description: ''
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetDelegatesResponse'
    put:
      deprecated: true
      tags:
      - Delegate
      summary: 'Create a new delegate'
      operationId: delegates.addDelegate
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/DelegatesAddDelegateRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesAddDelegateResponse'
  "/api/delegates/fee":
    get:
      tags:
      - Delegate
      summary: 'Get the delegate fee'
      operationId: delegates.getFee
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetFeeResponse'
  "/api/delegates/forging/getForgedByAccount":
    get:
      tags:
      - Delegate
      summary: 'Get the amount of ARKs forged by an account'
      operationId: delegates.getForgedByAccount
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: generatorPublicKey
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetForgedByAccountResponse'
  "/api/delegates/getNextForgers":
    get:
      tags:
      - Delegate
      summary: 'Get the next forger'
      operationId: delegates.getNextForgers
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesGetNextForgersResponse'
  "/api/delegates/forging/enable":
    post:
      tags:
      - Delegate
      summary: 'Enable forging for a delegate'
      operationId: delegates.enableForging
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: secret
        description: ''
        required: true
      - in: query
        type: string
        name: publicKey
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesEnableForgingResponse'
  "/api/delegates/forging/disable":
    post:
      tags:
      - Delegate
      summary: 'Disable forging for a delegate'
      operationId: delegates.disableForging
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: secret
        description: ''
        required: true
      - in: query
        type: string
        name: publicKey
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DelegatesDisableForgingResponse'
  "/api/loader/status":
    get:
      tags:
      - Loader
      summary: 'Get the blockchain status'
      operationId: loader.status
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LoaderStatusResponse'
  "/api/loader/status/sync":
    get:
      tags:
      - Loader
      summary: 'Get the synchronisation status of the client'
      operationId: loader.sync
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LoaderSyncResponse'
  "/api/loader/autoconfigure":
    get:
      tags:
      - Loader
      summary: 'Auto-configure the client loader'
      operationId: loader.autoconfigure
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LoaderAutoconfigureResponse'
  "/api/multisignatures/pending":
    get:
      tags:
      - MultiSignature
      summary: 'Get pending multi signature transactions'
      operationId: multisignatures.pending
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: publicKey
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MultisignaturesPendingResponse'
  "/api/multisignatures/sign":
    post:
      deprecated: true
      tags:
      - MultiSignature
      summary: 'Sign a new multi signature'
      operationId: multisignatures.sign
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: secret
        description: ''
        required: true
      - in: query
        type: string
        name: secondSecret
        description: ''
      - in: query
        type: string
        name: publicKey
        description: ''
      - in: query
        type: string
        name: transactionId
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MultisignaturesSignResponse'
  "/api/multisignatures":
    put:
      deprecated: true
      tags:
      - MultiSignature
      summary: 'Create a new multi signature'
      operationId: multisignatures.addMultisignature
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/MultisignaturesAddMultisignatureRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MultisignaturesAddMultisignatureResponse'
  "/api/multisignatures/accounts":
    get:
      tags:
      - MultiSignature
      summary: 'Get a list of accounts'
      operationId: multisignature.getAccounts
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MultisignatureGetAccountsResponse'
  "/api/peers/get":
    get:
      tags:
      - Peer
      summary: 'Get a single peer'
      operationId: peers.getPeer
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - in: query
        type: string
        name: ip
        description: ''
        required: true
      - in: query
        type: integer
        name: port
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PeersGetPeerResponse'
  "/api/peers":
    get:
      tags:
      - Peer
      summary: 'Get all peers'
      operationId: peers.getPeers
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: integer
        name: port
        description: ''
      - in: query
        type: integer
        name: state
        description: ''
      - in: query
        type: string
        name: os
        description: ''
      - in: query
        type: string
        name: version
        description: ''
      - in: query
        type: string
        name: orderBy
        description: ''
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PeersGetPeersResponse'
  "/api/peers/version":
    get:
      tags:
      - Peer
      summary: 'Get the peer version'
      operationId: peers.version
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PeersVersionResponse'
  "/api/signatures/fee":
    get:
      tags:
      - Signature
      summary: 'Get the fee for a signature'
      operationId: signatures.fee
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SignaturesFeeResponse'
  "/api/signatures":
    put:
      deprecated: true
      tags:
      - Signature
      summary: 'Create a new signature'
      operationId: signatures.addSignature
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/SignaturesAddSignatureRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SignaturesAddSignatureResponse'
  "/api/transactions/get":
    get:
      tags:
      - Transaction
      summary: 'Get a single transaction'
      operationId: transactions.getTransaction
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: id
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransactionsGetTransactionResponse'
  "/api/transactions":
    get:
      tags:
      - Transaction
      summary: 'Get all transactions'
      operationId: transactions.getTransactions
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: blockId
        description: ''
      - in: query
        type: integer
        name: limit
        description: ''
      - in: query
        type: integer
        name: type
        description: ''
      - in: query
        type: string
        name: orderBy
        description: ''
      - in: query
        type: integer
        name: offset
        description: ''
      - in: query
        type: string
        name: senderPublicKey
        description: ''
      - in: query
        type: string
        name: vendorField
        description: ''
      - in: query
        type: string
        name: ownerPublicKey
        description: ''
      - in: query
        type: string
        name: ownerAddress
        description: ''
      - in: query
        type: string
        name: senderId
        description: ''
      - in: query
        type: string
        name: recipientId
        description: ''
      - in: query
        type: integer
        name: amount
        description: ''
      - in: query
        type: integer
        name: fee
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransactionsGetTransactionsResponse'
    put:
      deprecated: true
      tags:
      - Transaction
      summary: 'Create a new transaction'
      operationId: transactions.addTransactions
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/TransactionsAddTransactionsRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransactionsAddTransactionsResponse'
  "/api/transactions/unconfirmed/get":
    get:
      tags:
      - Transaction
      summary: 'Get a single unconfirmed transaction'
      operationId: transactions.getUnconfirmedTransaction
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: id
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransactionsGetUnconfirmedTransactionResponse'
  "/api/transactions/unconfirmed":
    get:
      tags:
      - Transaction
      summary: 'Get all unconfirmed transactions'
      operationId: transactions.getUnconfirmedTransactions
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: senderPublicKey
        description: ''
      - in: query
        type: string
        name: address
        description: ''
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransactionsGetUnconfirmedTransactionsResponse'
  "/peer/list":
    get:
      tags:
      - Transport
      summary: 'Get a list of peers'
      operationId: transport.listBroadcastPeers
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportListBroadcastPeersResponse'
  "/peer/blocks/common":
    get:
      tags:
      - Transport
      summary: 'Get a list of blocks by ids'
      operationId: transport.commonBlock
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: ids
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportCommonBlockResponse'
  "/peer/block":
    get:
      tags:
      - Transport
      summary: 'Get a single block'
      operationId: transport.getBlock
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportGetBlockResponse'
  "/peer/blocks":
    get:
      tags:
      - Transport
      summary: 'Get all blocks'
      operationId: transport.getBlocks
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: address
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportGetBlocksResponse'
  "/peer/transactions":
    get:
      tags:
      - Transport
      description: 'Get all transactions'
      operationId: transport.getTransactions
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportGetTransactionsResponse'
    post:
      tags:
      - Transport
      summary: 'Create a new transaction'
      operationId: transport.addTransactions
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: body
        name: transactions
        description: ''
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/TransportAddTransactionsRequest'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportAddTransactionsResponse'
  "/peer/transactionsFromIds":
    get:
      tags:
      - Transport
      summary: 'Get a list of transactions by ids'
      operationId: transport.transactionsFromIds
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      - in: query
        type: string
        name: ids
        description: ''
        required: true
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportTransactionsFromIdsResponse'
  "/peer/height":
    get:
      tags:
      - Transport
      summary: 'Get the blockchain height'
      operationId: transport.height
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportHeightResponse'
  "/peer/status":
    get:
      tags:
      - Transport
      summary: 'Get the blockchain status'
      operationId: transport.status
      parameters:
      - $ref: '#/parameters/nethashHeader'
      - $ref: '#/parameters/versionHeader'
      - $ref: '#/parameters/portHeader'
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TransportStatusResponse'

definitions:

####################################################################################################
## Request Object Definitions ######################################################################
####################################################################################################

  # AccountsGetBalanceRequest:
  #   type: object
  #   properties: {}

  # AccountsGetPublickeyRequest:
  #   type: object
  #   properties: {}

  # AccountsGetDelegatesFeeRequest:
  #   type: object
  #   properties: {}

  # AccountsGetDelegatesRequest:
  #   type: object
  #   properties: {}

  AccountsAddDelegatesRequest:
    type: object
    required:
    - secret
    - publicKey
    properties:
      secret:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''

  # AccountsGetAccountRequest:
  #   type: object
  #   properties: {}

  # AccountsGetAllAccountsRequest:
  #   type: object
  #   properties: {}

  # AccountsTopRequest:
  #   type: object
  #   properties: {}

  # AccountsCountRequest:
  #   type: object
  #   properties: {}

  # BlocksGetBlockRequest:
  #   type: object
  #   properties: {}

  # BlocksGetBlocksRequest:
  #   type: object
  #   properties: {}

  # BlocksGetEpochRequest:
  #   type: object
  #   properties: {}

  # BlocksGetHeightRequest:
  #   type: object
  #   properties: {}

  # BlocksGetNethashRequest:
  #   type: object
  #   properties: {}

  # BlocksGetFeeRequest:
  #   type: object
  #   properties: {}

  # BlocksGetFeesRequest:
  #   type: object
  #   properties: {}

  # BlocksGetMilestoneRequest:
  #   type: object
  #   properties: {}

  # BlocksGetRewardRequest:
  #   type: object
  #   properties: {}

  # BlocksGetSupplyRequest:
  #   type: object
  #   properties: {}

  # BlocksGetStatusRequest:
  #   type: object
  #   properties: {}

  # DelegatesCountRequest:
  #   type: object
  #   properties: {}

  # DelegatesSearchRequest:
  #   type: object
  #   properties: {}

  # DelegatesGetVotersRequest:
  #   type: object
  #   properties: {}

  # DelegatesGetDelegateRequest:
  #   type: object
  #   properties: {}

  # DelegatesGetDelegatesRequest:
  #   type: object
  #   properties: {}

  DelegatesAddDelegateRequest:
    type: object
    properties:
      secret:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''
      username:
        type: string
        description: ''

  # DelegatesGetFeeRequest:
  #   type: object
  #   properties: {}

  # DelegatesGetForgedByAccountRequest:
  #   type: object
  #   properties: {}

  # DelegatesGetNextForgersRequest:
  #   type: object
  #   properties: {}

  # DelegatesEnableForgingRequest:
  #   type: object
  #   properties: {}

  # DelegatesDisableForgingRequest:
  #   type: object
  #   properties: {}

  # LoaderStatusRequest:
  #   type: object
  #   properties: {}

  # LoaderSyncRequest:
  #   type: object
  #   properties: {}

  # LoaderAutoconfigureRequest:
  #   type: object
  #   properties: {}

  # MultisignaturesPendingRequest:
  #   type: object
  #   properties: {}

  # MultisignaturesSignRequest:
  #   type: object
  #   properties: {}

  MultisignaturesAddMultisignatureRequest:
    type: object
    required:
    - secret
    - min
    - lifetime
    - keysgroup
    properties:
      secret:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''
      min:
        type: string
        description: ''
      lifetime:
        type: string
        description: ''
      keysgroup:
        type: array
        description: ''
        items:
          type: string

  # MultisignatureGetAccountsRequest:
  #   type: object
  #   properties: {}

  # PeersGetPeerRequest:
  #   type: object
  #   properties: {}

  # PeersGetPeersRequest:
  #   type: object
  #   properties: {}

  # PeersVersionRequest:
  #   type: object
  #   properties: {}

  # SignaturesFeeRequest:
  #   type: object
  #   properties: {}

  SignaturesAddSignatureRequest:
    type: object
    required:
    - secret
    - secondSecret
    - publicKey
    - multisigAccountPublicKey
    properties:
      secret:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      multisigAccountPublicKey:
        type: string
        description: ''

  # TransactionsGetTransactionRequest:
  #   type: object
  #   properties: {}

  # TransactionsGetTransactionsRequest:
  #   type: object
  #   properties: {}

  TransactionsAddTransactionsRequest:
    type: object
    required:
    - secret
    - amount
    - recipientId
    properties:
      secret:
        type: string
        description: ''
      amount:
        type: integer
        description: ''
      recipientId:
        type: string
        description: ''
      vendorField:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''
      multisigAccountPublicKey:
        type: string
        description: ''

  # TransactionsGetUnconfirmedTransactionRequest:
  #   type: object
  #   properties: {}

  # TransactionsGetUnconfirmedTransactionsRequest:
  #   type: object
  #   properties: {}

  # TransportListBroadcastPeersRequest:
  #   type: object
  #   properties: {}

  # TransportCommonBlockRequest:
  #   type: object
  #   properties: {}

  # TransportGetBlockRequest:
  #   type: object
  #   properties: {}

  # TransportGetBlocksRequest:
  #   type: object
  #   properties: {}

  # TransportGetTransactionsRequest:
  #   type: object
  #   properties: {}

  TransportAddTransactionsRequest:
    type: object
    required:
    - transactions
    properties:
      transactions:
        type: array
        description: ''

  # TransportTransactionsFromIdsRequest:
  #   type: object
  #   properties: {}

  # TransportHeightRequest:
  #   type: object
  #   properties: {}

  # TransportStatusRequest:
  #   type: object
  #   properties: {}

####################################################################################################
## Response Object Definitions #####################################################################
####################################################################################################

  AccountsGetBalanceResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      balance:
        type: integer
        description: ''
      unconfirmedBalance:
        type: integer
        description: ''

  AccountsGetPublickeyResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      publicKey:
        type: string
        description: ''

  AccountsGetDelegatesFeeResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      fee:
        type: integer
        description: ''

  AccountsGetDelegatesResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      delegates:
        type: array
        items:
          $ref: '#/definitions/Delegate'

  AccountsAddDelegatesResponse:
    type: object
    properties:
      secret:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      secondSecret:
        type: string
        description: ''

  AccountsGetAccountResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      account:
        type: array
        items:
          $ref: '#/definitions/Account'

  AccountsGetAllAccountsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  AccountsTopResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      accounts:
        type: array
        items:
          $ref: '#/definitions/TopAccount'

  AccountsCountResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      block:
        type: boolean
        description: ''
        items:
          $ref: '#/definitions/Block'

  BlocksGetBlockResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      block:
        type: array
        $ref: '#/definitions/Block'

  BlocksGetBlocksResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      blocks:
        type: array
        items:
          $ref: '#/definitions/Block'

  BlocksGetEpochResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      epoch:
        type: string
        description: ''

  BlocksGetHeightResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      height:
        type: integer
        description: ''
      id:
        type: integer
        description: ''

  BlocksGetNethashResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      nethash:
        type: string
        description: ''

  BlocksGetFeeResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      fee:
        type: integer
        description: ''

  BlocksGetFeesResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      send:
        type: integer
        description: ''
      vote:
        type: integer
        description: ''
      secondsignature:
        type: integer
        description: ''
      delegate:
        type: integer
        description: ''
      multisignature:
        type: integer
        description: ''

  BlocksGetMilestoneResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      milestone:
        type: integer
        description: ''

  BlocksGetRewardResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      reward:
        type: integer
        description: ''

  BlocksGetSupplyResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      supply:
        type: integer
        description: ''

  BlocksGetStatusResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      epoch:
        type: string
        description: ''
      height:
        type: integer
        description: ''
      fee:
        type: integer
        description: ''
      milestone:
        type: integer
        description: ''
      nethash:
        type: string
        description: ''
      reward:
        type: integer
        description: ''
      supply:
        type: integer
        description: ''

  DelegatesCountResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      count:
        type: integer
        description: ''

  DelegatesSearchResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      delegates:
        type: array
        description: ''
        items:
          $ref: '#/definitions/DelegateSearchResult'

  DelegatesGetVotersResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      accounts:
        type: boolean
        description: ''
        items:
          $ref: '#/definitions/Voter'

  DelegatesGetDelegateResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      delegate:
        type: array
        description: ''
        $ref: '#/definitions/Voter'

  DelegatesGetDelegatesResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      delegates:
        type: array
        description: ''
        items:
          $ref: '#/definitions/Delegate'

  DelegatesAddDelegateResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  DelegatesGetFeeResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      fee:
        type: integer
        description: ''

  DelegatesGetForgedByAccountResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      fees:
        type: integer
        description: ''
      rewards:
        type: integer
        description: ''
      forged:
        type: integer
        description: ''

  DelegatesGetNextForgersResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      currentBlock:
        type: integer
        description: ''
      currentSlot:
        type: integer
        description: ''
      delegates:
        type: array
        description: ''
        items:
          type: string
          description: ''

  DelegatesEnableForgingResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  DelegatesDisableForgingResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  LoaderStatusResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      loaded:
        type: boolean
        description: ''
      now:
        type: integer
        description: ''
      blocksCount:
        type: integer
        description: ''

  LoaderSyncResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      syncing:
        type: boolean
        description: ''
      blocks:
        type: number
        description: ''
      height:
        type: integer
        description: ''
      id:
        type: integer
        description: ''

  LoaderAutoconfigureResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      network:
        type: array
        description: ''
        $ref: '#/definitions/Network'

  MultisignaturesPendingResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  MultisignaturesSignResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  MultisignaturesAddMultisignatureResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  MultisignatureGetAccountsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  PeersGetPeerResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      peer:
        type: boolean
        description: ''
        $ref: '#/definitions/Peer'

  PeersGetPeersResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      peers:
        type: array
        description: ''
        items:
          $ref: '#/definitions/Peer'

  PeersVersionResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      version:
        type: string
        description: ''
      build:
        type: string
        description: ''

  SignaturesFeeResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      fee:
        type: integer
        description: ''

  SignaturesAddSignatureResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransactionsGetTransactionResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      transaction:
        type: array
        description: ''
        $ref: '#/definitions/Transaction'

  TransactionsGetTransactionsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      transactions:
        type: array
        description: ''
        items:
          $ref: '#/definitions/Transaction'

  TransactionsAddTransactionsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransactionsGetUnconfirmedTransactionResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransactionsGetUnconfirmedTransactionsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportListBroadcastPeersResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      peers:
        type: array
        description: ''
        items:
          $ref: '#/definitions/Peer'

  TransportCommonBlockResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportGetBlockResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportGetBlocksResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportGetTransactionsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportAddTransactionsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportTransactionsFromIdsResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'

  TransportHeightResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      height:
        type: integer
        description: ''
      header:
        type: array
        description: ''
        items:
          id:
            type: integer
            description: ''
          height:
            type: integer
            description: ''
          version:
            type: integer
            description: ''
          totalAmount:
            type: integer
            description: ''
          totalFee:
            type: integer
            description: ''
          reward:
            type: integer
            description: ''
          payloadHash:
            type: string
            description: ''
          payloadLength:
            type: integer
            description: ''
          timestamp:
            type: integer
            description: ''
          numberOfTransactions:
            type: integer
            description: ''
          previousBlock:
            type: integer
            description: ''
          generatorPublicKey:
            type: string
            description: ''
          blockSignature:
            type: string
            description: ''

  TransportStatusResponse:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      height:
        type: integer
        description: ''
      forgingAllowed:
        type: boolean
        description: ''
      currentSlot:
        type: integer
        description: ''
      header:
        type: array
        description: ''
        $ref: '#/definitions/TransportPeerHeader'

####################################################################################################
## Model Object Definitions ########################################################################
####################################################################################################

  Account:
    type: object
    properties:
      address:
        type: string
        description: ''
      unconfirmedBalance:
        type: integer
        description: ''
      balance:
        type: integer
        description: ''
      publicKey:
        type: string
        description: ''
      unconfirmedSignature:
        type: integer
        description: ''
      secondSignature:
        type: integer
        description: ''
      secondPublicKey:
        type: string
        description: ''
      multisignatures:
        type: array
        description: ''
      u_multisignatures:
        type: array
        description: ''

  TopAccount:
    type: object
    properties:
      address:
        type: string
        description: ''
      balance:
        type: integer
        description: ''
      publicKey:
        type: string
        description: ''

  Delegate:
    type: object
    properties:
      username:
        type: string
        description: ''
      address:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      vote:
        type: string
        description: ''
      producedblocks:
        type: integer
        description: ''
      missedblocks:
        type: integer
        description: ''
      rate:
        type: integer
        description: ''
      approval:
        type: number
        description: ''
      productivity:
        type: number
        description: ''

  Block:
    type: object
    properties:
      id:
        type: integer
        description: ''
      version:
        type: integer
        description: ''
      timestamp:
        type: integer
        description: ''
      height:
        type: integer
        description: ''
      previousBlock:
        type: integer
        description: ''
      numberOfTransactions:
        type: integer
        description: ''
      totalAmount:
        type: integer
        description: ''
      totalFee:
        type: integer
        description: ''
      reward:
        type: integer
        description: ''
      payloadLength:
        type: integer
        description: ''
      payloadHash:
        type: string
        description: ''
      generatorPublicKey:
        type: string
        description: ''
      generatorId:
        type: string
        description: ''
      blockSignature:
        type: string
        description: ''
      confirmations:
        type: integer
        description: ''
      totalForged:
        type: integer
        description: ''

  DelegateSearchResult:
    type: object
    properties:
      username:
        type: string
        description: ''
      address:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      vote:
        type: integer
        description: ''
      producedblocks:
        type: integer
        description: ''
      missedblocks:
        type: integer
        description: ''

  Voter:
    type: object
    properties:
      username:
        type: string
        description: ''
      address:
        type: string
        description: ''
      publicKey:
        type: string
        description: ''
      balance:
        type: integer
        description: ''

  Network:
    type: object
    properties:
      nethash:
        type: string
        description: ''
      token:
        type: string
        description: ''
      symbol:
        type: string
        description: ''
      explorer:
        type: string
        description: ''
      version:
        type: integer
        description: ''

  Peer:
    type: object
    properties:
      ip:
        type: string
        description: ''
      port:
        type: integer
        description: ''
      version:
        type: string
        description: ''
      errors:
        type: integer
        description: ''
      os:
        type: string
        description: ''
      height:
        type: string
        description: ''
      status:
        type: string
        description: ''
      delay:
        type: integer
        description: ''

  Transaction:
    type: object
    properties:
      id:
        type: string
        description: ''
      blockid:
        type: integer
        description: ''
      type:
        type: integer
        description: ''
      timestamp:
        type: integer
        description: ''
      amount:
        type: integer
        description: ''
      fee:
        type: integer
        description: ''
      senderId:
        type: string
        description: ''
      recipientId:
        type: string
        description: ''
      senderPublicKey:
        type: string
        description: ''
      signature:
        type: string
        description: ''
      asset:
        type: object
        description: ''
      confirmations:
        type: integer
        description: ''

  TransportPeerHeader:
    type: object
    properties:
      id:
        type: integer
        description: ''
      height:
        type: integer
        description: ''
      version:
        type: integer
        description: ''
      totalAmount:
        type: integer
        description: ''
      totalFee:
        type: integer
        description: ''
      reward:
        type: integer
        description: ''
      payloadHash:
        type: string
        description: ''
      payloadLength:
        type: integer
        description: ''
      timestamp:
        type: integer
        description: ''
      numberOfTransactions:
        type: integer
        description: ''
      previousBlock:
        type: integer
        description: ''
      generatorPublicKey:
        type: string
        description: ''
      blockSignature:
        type: string
        description: ''

  Error:
    type: object
    properties:
      success:
        type: boolean
        description: 'Indicates whether or not errors occured'
      error:
        type: string
        description: ''
